<div class="social-media-list">
    {%- if site.facebook_username -%}
    <a title="Facebook" target="_blank"
        href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"><svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
        </svg>
    </a>
    {%- endif -%}
    {%- if site.github_username -%}
    <a title="Github" target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg
            class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
    </a>
    {%- endif -%}
    {%- if site.instagram_username -%}
    <a title="Instagram" target="_blank"
        href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
        </svg>
    </a>
    {%- endif -%}
    {%- if site.linkedin_username -%}
    <a title="LinkedIn" target="_blank"
        href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
        </svg>
    </a>
    {%- endif -%}
    {%- if site.twitter_username -%}
    <a title="Twitter" target="_blank"
        href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
    </a>
    {%- endif -%}
    {%- if site.youtube_username -%}
    <a title="Youtube" target="_blank" href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg
            class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use>
        </svg>
    </a>
    {%- endif -%}
    {%- if site.devto_username -%}
    <a title="DEV.to" target="_blank" href="https://dev.to/{{ site.devto_username| cgi_escape | escape }}">
        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="DEV.to Profile" height="20">
    </a>
    {%- endif -%}
</div>

<style>
    .social-media-list>a {
        margin-bottom: 2px;
        border: solid 1px transparent;
        padding: 5px;
        border-radius: 5px;
    }

    .social-media-list>a:hover {
        border-color: #ccc;
    }
</style>